<div id="authContainer">
    <form action="" fxLayout="column" fxLayoutAlign="space-evenly center">

        <mat-form-field appearance="outline" color="primary">
            <mat-label>Utilisateur</mat-label>
            <input formControlName="username" matInput placeholder="write your name here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" type="password" formControlName="write your password here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>
    </form>
</div>