<div id="navBarContainer" fxLayout="column" >
    <button mat-button color="basic" fxLayoutAlign="start start" style="margin-top: 20px;">Products</button>
    <button mat-button color="basic" fxLayoutAlign="start start">Clients</button>
    <button mat-button color="basic" fxLayoutAlign="start start" [routerLink]="['/supplier']">Suppliers</button>
    <button mat-button color="basic" class="active" fxLayoutAlign="start start">Factures</button>
    <button mat-button color="basic"  fxLayoutAlign="start start" [routerLink]="['/employees']">Employees</button>
    <button mat-button color="basic" fxLayoutAlign="start start">logout</button>
</div>
<div id="carosselsContainer" fxLayout="column" fxLayoutAlign="space-around stretch" class="container">
    <div>
        <h2>Factures</h2>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div style="font-size: 14px;">Admin name: Bouhajja Alaeddine</div>
            <div><button mat-raised-button color="primary" style="margin-right: 10px" [routerLink]="['/invoice/add/']">Ajouter un facture</button></div>
        </div> 
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 20px">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Créé à </th>
          <td mat-cell *matCellDef="let element"> {{element.creation_date}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="name_client">
          <th mat-header-cell *matHeaderCellDef> Nom du client </th>
          <td mat-cell *matCellDef="let element"> {{element.name_client}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="surname_client">
          <th mat-header-cell *matHeaderCellDef> Prénom </th>
          <td mat-cell *matCellDef="let element"> {{element.surname_client}} </td>
        </ng-container>

        <ng-container matColumnDef="entreprise_name">
          <th mat-header-cell *matHeaderCellDef> Nom d'entreprise </th>
          <td mat-cell *matCellDef="let element"> {{element.entreprise_name}} </td>
        </ng-container>

        <ng-container matColumnDef="mode_payment">
          <th mat-header-cell *matHeaderCellDef> Methode de paiement </th>
          <td mat-cell *matCellDef="let element"> {{element.mode_payment}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> 
          </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="primary" style="margin-right: 10px" [routerLink]="['/invoice/details/' + element.id]">Voir details</button>
            <button mat-raised-button color="warn" (click)="deleteInvoice(element.id)">supprimer</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
</div>