<div id="navBarContainer" fxLayout="column">
    <button mat-button color="basic" class="active" fxLayoutAlign="start start" style="margin-top: 20px;">Products</button>
    <button mat-button color="basic" fxLayoutAlign="start start">Clients</button>
    <button mat-button color="basic" fxLayoutAlign="start start">Suppliers</button>
    <button mat-button color="basic"  fxLayoutAlign="start start">Factures</button>

    <button mat-button color="basic" fxLayoutAlign="start start">logout</button>
</div>


<div id="carosselsContainer" fxLayout="column" fxLayoutAlign="space-around stretch">
    <div class="carossel" fxLayout="row" fxLayoutAlign="space-around center" >
        <div class="listTitle">
            Products List
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        
    </div>

    <div class="carossel" fxLayout="row" fxLayoutAlign="space-around center" >
        <div class="listTitle">
            Products List
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        
    </div>

    <div class="carossel" fxLayout="row" fxLayoutAlign="space-around center" >
        <div class="listTitle">
            Products List
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        
    </div>

    <div class="carossel" fxLayout="row" fxLayoutAlign="space-around center" >
        <div class="listTitle">
            Products List
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        <div class="card">
            <div class="imgContainer">
                <img src="./assets/images/product.png" alt="">
            </div>
            <div class="title">Product N°1354</div>
            <button class="readMore" mat-raised-button color="accent">Open ...</button>
        </div>
        
    </div>
</div>