<div id="navBarContainer" fxLayout="column" >
    <button mat-button color="basic" fxLayoutAlign="start start" style="margin-top: 20px;">Products</button>
    <button mat-button color="basic" fxLayoutAlign="start start">Clients</button>
    <button mat-button color="basic" fxLayoutAlign="start start">Suppliers</button>
    <button mat-button color="basic" fxLayoutAlign="start start" [routerLink]="['/invoice']">Factures</button>
    <button mat-button color="basic" class="active" fxLayoutAlign="start start" [routerLink]="['/employees']">Employees</button>
    <button mat-button color="basic" fxLayoutAlign="start start">logout</button>
</div>
<div id="carosselsContainer" fxLayout="column" fxLayoutAlign="space-around stretch" class="container">
    <section class="sample-app-content">
        <div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h2>Add employee</h2>
            </div> 
        </div>
        <div>

        </div>
    </section>
</div>